#loginbtn{
	float: center;
}
#loginpage{
	color: white; 
	margin-left: 38%;
	padding: 25px;
	font-size: 20px;
}

#loginimage{
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

#question{
	margin-top: 150px;
	color: white; 
	font-size: 25px;
}

#questionbox{
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #2D0746;
    border-radius: 10px;
	width: 600px;
	background-color: #3B0A5C;
}

#answer{
	margin-left: 0px;
	color: white; 
	font-size: 20px;
}

* {
    box-sizing: border-box;
}

.super-container {
	position: relative;
	width: 1280px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../rsc/board.png");
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	padding: 180px 230px 200px 20%;
	align-content: space-evenly;
}


@media screen and (max-width: 400px) {
    .grid-container {
    width: 400px;
    padding: 10px 0px 10px 45%;
    justify-self: left;
    }
}

.grid-item {
	padding: 10px;
	font-size: 15px;
	text-align: center;
}

.btn-group1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    height: 300px;
    background-color: transparent;
    outline: none;
	padding: 1px;
    padding-left: 10%;
}
.button a{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
	background-color: transparent;
    outline: none;
    border: none;
}
  
button {
	background-color: transparent;
	border: none;
	outline: none;
}

body {
    background-color: #F5F5F5;
    background-image: url("../rsc/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

a {
    display:inline-block;
    width:100px;
    height:50px;
}